<div class="page-header">
  <h1><%= @property.name %></h1>
    Description: <%= @property.description %>
    <br>
    Price: <%= @property.price %>
    <br>
    Location: <%= @property.location %>

  <ul class="actions">
    <%= link_to "Edit Property",
        edit_property_path(@property),
        class: "edit" %>

    <%= link_to "Delete Property",
        property_path(@property),
        method: :delete,
        data: { confirm:
                  "Are you sure you want to delete this property?"
              },
        class: "delete" %>
  </ul>
</div>

  <div class="page-header">
    <h2>Galleries</h2>

    <ul class="actions">
      <li><%= link_to "New Gallery",
        new_property_gallery_path(@property),
        class: "new" %>
      </li>
    </ul>
  </div>

  <ul id="galleries">
  <% @property.galleries.each do |gallery| %>
  <li>
  #<%= gallery.id %> -
  <%= link_to gallery.name, [@property, gallery] %>
  </li>
  <% end %>
  </ul>
  
